{
  "presets": [
    [
      "env", {
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions", "ios>=7.0", "Android>=4.3"
          ]
        },
        "useBuiltIns": true
      }
    ],
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-runtime", "syntax-dynamic-import"    
  ]
}